.body{
    background-color: #E5E5E5;
}

.navigation-bar{
    background-color: #354955;
    height: 60px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.navigation-bar-content{
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}

.hero{
    background-color: #1f2428;
    min-height: 70vh;
    color: #ffffff;
}

#profile_pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.hero-content{
    width: 800px;
    margin: 0 auto;
    padding: 3em;

}

.hero-content-intro{
    display: flex;
    gap: 2em;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

.intro-name{
    font-size: 80px;
    font-weight: 600;
}

.hero-content-subheadline{
    text-align: center;
    margin-top: 3em;
}

.position{
    font-size: 50px;
}

.description{
    font-size: 20px;

}


.project-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
    margin-top: 2em;
    margin-bottom: 2em;

}


/* .project-column{
    width: 300px;
} */


.project-thumbnail{
    height:200px;
    width: 400px;
}

/* .container{
    background-color: grey;
} */
.project-body{
    background-color: #ffffff;
    padding: 1em;
}


.skill-container{
    width: 600px;
    margin: 0 auto;
}


.skill-wrapper{
    margin-top: 2em;
    margin-bottom: 2em;
}


.skill-section{
    background-color:#ffffff ;
    padding-top: 2em;
    padding-bottom: 2em;
}


.skills--tag{
    margin-top: 1em;
    background-color: #C4E7F2;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
}


.other--skills--wrapper{
    display: flex;
    gap: 1em;
}


.project--image{
    max-width: 800px;
    margin-top: 2em;
}

@media  (max-width: 900px){
    .hero-content-intro{
        flex-direction: column;
    }

    .project-wrapper{
        grid-template-columns: 1fr;
        
    }
}
    
